body{
    font-family: Tahoma, Arial;
    background:#eee;
}

.container{
    width:1100px;
    margin:30px auto;
    background:#fff;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,.2);
}

h2{
    text-align:center;
    color:#0d6efd;
}

.top{
    margin-bottom:15px;
}

.top input{
    padding:8px;
    width:300px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

th,td{
    border:1px solid #ccc;
    padding:6px;
    text-align:center;
}

input,select{
    width:100%;
    padding:4px;
}

.buttons{
    margin-top:15px;
    text-align:center;
}

button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
    font-size:15px;
}

#grandTotal{
    margin-top:20px;
    text-align:right;
    color:#c00000;
}
